<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chirag.googlesignin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ivccico"
        android:label="PNĐT 1.0.0"
        android:roundIcon="@drawable/ivccico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityXemTruocBaoCao"></activity>
        <activity android:name=".ActivityMenu" />
        <activity android:name=".Activity_SuaHinhAnh" />
        <activity android:name=".Activity_DanhSach_CongTrinh" />
        <activity android:name=".Activity_ChiTiet_Anten" />
        <activity android:name=".Activity_DanhSach_Anten" />
        <activity android:name=".Activity_DanhSach_AnhChup" />
        <activity android:name=".Activity_DanhSach_BTS" />
        <activity android:name=".Activity_DanhSach_Cot" />
        <activity android:name=".Activity_MenuTram">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_GoogleDrive" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme2" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMHLFiKxw1gpT_eBMmUa-vhyHath0jrps" />
    </application>

</manifest>